# Edit this file to match your environment and
# copy it to .restconfig.json, and delete these two (comment) lines
{
 "username": "",
 "password": "",
 "baseurl": "https://127.0.0.1",
 "insecure": true,
 "debug": true

}
