<!DOCTYPE html>
<html style="font-family:Open Sans,sans-serif;">
<body>
{% include 'intro.html' %}

<h1 id="comp-header" style="cursor:pointer;">Components</h1>
<table style="width:100%;border-collapse:collapse;font-family:Open Sans,sans-serif;" id="comp-container">
    <thead>
    <tr style="border-bottom:1px solid black">
        <th style="text-align:left;background-color:#f6f6f6;font-weight:500">Component (click for copyrights)</th>
        <th style="text-align:left;background-color:#f6f6f6;font-weight:500">License (click for license)</th>
    </tr>
    </thead>
    <tbody>
    {% for row in componentLicenses %}
        <tr style="border-bottom:1px solid black">
            <td>
                <span>
                {%  set componentCopyrightFound = (componentCopyrightTexts|length > 0 and 
                    componentCopyrightTexts | selectattr("componentVersionSummary.projectName", "equalto", row.component.projectName) | selectattr("componentVersionSummary.versionName", "equalto", row.component.versionName) | list | length > 0 ) %}
                {%  if componentCopyrightFound %}
                    <a href="#{{ "%s-%s-%s"|format("copyright",row.component.projectName,row.component.versionName) | slugify }}">
                {% endif %}
                        <span style="font-weight:700">
                            {{ row.component.projectName }}</span>
                    <span style="font-weight:500">
                        {% if row.component.versionName %}
                            {{ row.component.versionName }}
                        {% endif %}
                    </span>
                {%  if componentCopyrightFound %}
                    </a>
                {% endif %}
                </span>
            </td>
            <td>
                <div>
                    {% if row.licenses|length > 0 %}
                    <a href="#{{ "%s-%s"|format(row.component.projectName,row.component.versionName) | slugify }}">
                        {{ row.licenses[0]['name'] }}
                    </a>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if componentCopyrightTexts|length > 0 %}
    <h1 id="copyright-header" style="cursor:pointer;">Copyright Data</h1>
    <div id="copyright-container">
        {% for row in componentCopyrightTexts %}
            <h2 id="{{ "%s-%s-%s"|format("copyright",row.componentVersionSummary.projectName,row.componentVersionSummary.versionName) | slugify}}">
                {{ row.componentVersionSummary.projectName }} <span>&mdash;</span> {{ row.originFullName }}
            </h2>
            {% for cr in row.copyrightTexts %}
                <ul>
                    <li style="list-style-type:disc;">
                        {{ cr|e }}
                    </li>
                </ul>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

<h1 id="license-header" style="cursor:pointer;">Licenses</h1>
<div id="license-container">
    {% for row in licenseTexts %}
        <h2>{{ row.name }}</h2>
        <div>
            <ul>
            {% for comp in row.components %}
                <li id="{{ "%s-%s"|format(comp.projectName,comp.versionName) | slugify }}" style="list-style-type:disc;">
                    {{ comp.projectName }} {{ comp.versionName }}</li>
            {% endfor %}
            </ul>
        </div>
        <pre style="background-color:#f6f6f6;border:1px solid black">{{ row.text|e }}</pre>
    {% endfor %}
</div>



<script>
    function makeCollapseable(item){
        header = document.getElementById(item + "-header")
        if (!(header === null)) {
            header.addEventListener("click", function() {
            container = document.getElementById(item + "-container")
            if (container.style.display === "none") {
                container.style.display = null;
            } else {
                container.style.display = "none";
            }
        });
    }
    }

    makeCollapseable("comp");
    makeCollapseable("copyright");
    makeCollapseable("license");

</script>

</body>
</html>